* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

:focus {
  outline: 0;
  box-shadow: none !important;
}

.spacer-lg {
  padding: 150px 0;
}

.spacer {
  padding: 100px 0;
}

.spacer-sm {
  padding: 70px 0;
}

.access-spacer {
  padding: 50px 0;
}

.align-items-stretch {
  align-items: stretch;
}

.hide {
  display: none
}

.card {
  margin-bottom: 24px;
}

.rounded-lg {
  border-radius: 0.55rem;
}

// Custom Opacity Start
.op-7 {
  opacity: 0.7;
}

.op-6 {
  opacity: 0.6;
}

.op-5 {
  opacity: 0.5;
}

.op-4 {
  opacity: 0.4;
}

.op-1 {
  opacity: 0.1;
}

// Custom Opacity End


// Custom Card Start
// Custom Card End



// Custom Font Family Start
// Custom Font Family End



// Custom Link Start
// Custom Link End



// Custom Btn Start
// Custom Btn End


// Custom Text Start
.text-raleway {
  font-family: $font-family-raleway;
}

// Custom Text End


// Custom Shadow Start
.shadow-in {
  box-shadow: $shadow-in;
  border: 1px solid #d1d9e6;
  border-radius: 6px;
}


.shadow-out {
  box-shadow: $shadow-out;
  border: 1px solid #d1d9e6;
  border-radius: 6px;
}

.shadow-in-hover {
  box-shadow: $shadow-in;
  border: 1px solid #d1d9e6;
  border-radius: 6px;
  transition: all 0.4s ease-in-out;
}

.shadow-in-hover:hover {
  box-shadow: $shadow-out;
  border: 1px solid #d1d9e6;
  border-radius: 6px;
}

.shadow-in-hover:focus {
  box-shadow: $shadow-out;
  border: 1px solid #d1d9e6;
  border-radius: 6px;
}

.shadow-in-hover:active {
  box-shadow: $shadow-out;
  border: 1px solid #d1d9e6;
  border-radius: 6px;
}



.shadow-out-hover {
  box-shadow: $shadow-out;
  border: 1px solid #d1d9e6;
  border-radius: 6px;
  transition: all 0.4s ease-in-out;
}

.shadow-out-hover:hover {
  box-shadow: $shadow-in;
  border: 1px solid #d1d9e6;
  border-radius: 6px;
}

.shadow-out-hover:focus {
  box-shadow: $shadow-in;
  border: 1px solid #d1d9e6;
  border-radius: 6px;
}

.shadow-out-hover:active {
  box-shadow: $shadow-in;
  border: 1px solid #d1d9e6;
  border-radius: 6px;
}

// Custom Shadow End


// Custom Shadow End
.accordion-item {
  margin-bottom: 30px;
  border-radius: 6px;
  overflow: hidden;
}
