* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

:focus {
  outline: 0;
  box-shadow: none !important;
}

.spacer-lg {
  padding: 150px 0;
}

.spacer {
  padding: 100px 0;
}

.spacer-sm {
  padding: 70px 0;
}

.access-spacer {
  padding: 50px 0;
}

.card {
  margin-bottom: 24px;
  box-shadow: 0 2px 16px -4px rgba(0, 0, 0, 0.22);
  overflow: hidden;

  .card-body {
    padding: 6px 0;
  }
}

.hover-effect {
  transition: all 0.4s ease-in-out;
}

.align-items-stretch {
  align-items: stretch;
}

// Custom Opacity Start
.op-7 {
  opacity: 0.7;
}

.op-6 {
  opacity: 0.6;
}

.op-5 {
  opacity: 0.5;
}

.op-4 {
  opacity: 0.4;
}

.op-1 {
  opacity: 0.1;
}

// Custom Opacity End


// Custom Card Start
// Custom Card End



// Custom Font Family Start
// Custom Font Family End



// Custom Link Start
// Custom Link End



// Custom Btn Start
.btn-primary {
  color: $white;

  &:hover {
    color: $white;
  }
}

.btn-outline-primary,
.btn-outline-info {
  &:hover {
    color: $white;
  }
}

// Custom Btn End


// Custom Text hover Start
// Custom Text hover End